.wrapper{
    background-color: #eee;
    width: 100%;
    height: 864px;
    padding: 1%;

}

.threshold-line{
    display: block;
    height: 6%;
    padding: 0.5%;
    /*margin: 3% 2% 3% 2%;*/
}

.threshold-left{
    width: 5%;
    float:left;
    display: inline-block;
}

.threshold-right{
    /*width:290px;*/
    width:20%;
    float:left;
    display: inline-block;
}

.statistic{
    /*display: none;*/
    width: 96%;
    height:105px;
    background-color:#FFC125;
    border: 1px solid rgba(0,0,0,.125);
    overflow: auto;
    padding: 1%;
    margin: 0.5% 3% 0% 1%;
    font-family: "Helvetica Neue";
    font-size: 27px;
    color: blue;
    /*text-align: center;*/
}
pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:3px 8px;line-height:1.42857143;text-decoration:none;color:#428bca;background-color:#fff;border:1px solid #ddd;margin-left:-1px}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{color:#2a6496;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;background-color:#428bca;border-color:#428bca;cursor:default}